<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.srilankavehicleinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".InfoViewTwo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".InfoViewOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubmitNumber"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AlertNavigation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".AlertProfilePage"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AlertUnsubsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlertSubsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LicenseAlertMainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity
            android:name=".PasswordResetMainPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity
            android:name=".PasswordResetSecondPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity
            android:name=".LoadingPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>